
@{
    ViewBag.Title = "OrderPageTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="DelieveryModal" tabindex="-1" role="dialog" aria-labelledby="DelieveryModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="DelieveryModal-label">Add Delievery</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label class="control-label" for="file">Add File</label>
                        <input type="file" class="form-control" id="file" placeholder="Add File">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="file">Add File</label>
                        <textarea rows="10" style="max-width:1000px"></textarea>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" required> File have no copyright issue
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Deliever</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-left:100px;padding-right:100px;margin-top:50px">
    <div class="panel panel-default">
        <div style="margin:20px">
            <ol class="breadcrumb">
                <li><a href="~/Teacher/Home">Home</a></li>
                <li class="active">Request</li>
            </ol>
            <div class="row" style="margin:20px">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <span style="color:coral;font-size:30px"><b>Order number:</b></span>
                    <span style="font-size:30px; padding-left:30px">F38765 </span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <span style="color:darkgreen;font-size:30px;text-align:right">$200</span>
                </div>
            </div>
            <hr />
            <h3><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b></h3>
            <hr />
            <h2>Description</h2>
            <ul>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
            </ul>
            <hr />
            <h1>Remaining Time:</h1>
            <h1 style="color:red; text-align:center"><b>02:06:37:25</b></h1>
            <hr />
            <div class="text-center">
                <a href="#DelieverNotes" id="DelieverNotes" class="btn btn-lg btn-success">Deliver Notes</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#DelieverNotes').click(
        function (e) {
            e.preventDefault();
            $('#DelieveryModal').modal('show');
        }
    );
</script>


