<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-LPATR</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <style>
        body {
            font-family: 'Oxygen', serif;
            background-color: #F8F8F8;
             padding-bottom:0px
        }
        /*div.dataTables_wrapper {
            margin-bottom: 3em;
        }*/
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Admin/Home">E-LPATR</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" required class="form-control" placeholder="Search">
                    </div>
                    <a href="~/Student/SearchedGigs" class="btn btn-success"> Search</a>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Admin/Categories">Categories</a></li>
                    <li><a href="~/Admin/Issues">Issues</a></li>
                    <li><a href="~/Admin/Requests">Requests</a></li>
                    <li><a href="~/Admin/Users">Users</a></li>
                   @* <li><a href="~/Admin/Teachers">Teachers</a></li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Notifications<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Student/OrderPage">Lorem ipsum dolor sit amet</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @if (Request.Cookies["user"] != null)
                            {
                                <b>@Request.Cookies["user"]["FirstName"]</b>
                            }
                            else
                            {
                                <b>User</b>
                            }
                        </a>
                        <ul class="dropdown-menu">
                            @*<li role="separator" class="divider"></li>*@
                            <li><a href="~/Student/Settings">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Account/Logout">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer style="color:antiquewhite;background-color:#1a1a1a">
        <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h2><b>Subjects</b></h2>
                <ul>
                    <li><a href="~/Student/SearchedGigs">Music</a></li>
                    @*<ul>
                            <li><a href="~/Student/SearchedGigs">Guitar</a></li>
                            <li><a href="~/Student/SearchedGigs">Piano</a></li>
                            <li><a href="~/Student/SearchedGigs">Singing</a></li>
                            <li><a href="~/Student/SearchedGigs">Drums</a></li>
                            <li><a href="~/Student/SearchedGigs">Xylophone</a></li>
                            <li><a href="~/Student/SearchedGigs">Singing</a></li>
                        </ul>*@
                    <li><a href="~/Student/SearchedGigs">Programming</a></li>
                    @*<ul>
                            <li><a href="~/Student/SearchedGigs">Web Development</a></li>
                            <li><a href="~/Student/SearchedGigs">Android Application Development</a></  li>
                            <li><a href="~/Student/SearchedGigs">Artifical Intelligence</a></li>
                            <li><a href="~/Student/SearchedGigs">Android Games</a></li>
                            <li><a href="~/Student/SearchedGigs">WordPress</a></li>
                            <li><a href="~/Student/SearchedGigs">Desktop Applications</a></li>
                            <li><a href="~/Student/SearchedGigs">E-Commerce Development</a></li>
                            <li><a href="~/Student/SearchedGigs">Databases</a></li>
                        </ul>*@
                    <li><a href="~/Student/SearchedGigs">Education</a></li>
                    @*<ul>
                            <li><a href="~/Student/SearchedGigs">Biology</a></li>
                            <li><a href="~/Student/SearchedGigs">Chemistry</a></  li>
                            <li><a href="~/Student/SearchedGigs">Physics</a></li>
                            <li><a href="~/Student/SearchedGigs">Data And Logical Designs</a></li>
                            <li><a href="~/Student/SearchedGigs">ELectronics</a></li>
                            <li><a href="~/Student/SearchedGigs">Mathematics</a></li>
                        </ul>*@
                    <li><a href="~/Student/SearchedGigs">Graphic Desigining</a></li>
                    @*<ul>
                            <li><a href="~/Student/SearchedGigs">Logo Design</a></li>
                            <li><a href="~/Student/SearchedGigs">Photoshop Editing</a></  li>
                            <li><a href="~/Student/SearchedGigs">Cartoons And Graphics</a></li>
                            <li><a href="~/Student/SearchedGigs">UI/UX Designs </a></li>
                            <li><a href="~/Student/SearchedGigs">Flyer Designs</a></li>
                            <li><a href="~/Student/SearchedGigs">Poster Design</a></li>
                            <li><a href="~/Student/SearchedGigs">Menu Design</a></li>
                        </ul>*@
                    <li><a href="~/Student/SearchedGigs">Sales And Marketing</a></li>
                    <li><a href="~/Student/SearchedGigs">Writing and Translation</a></li>
                    <li><a href="~/Student/SearchedGigs">Data Science And Analysis</a></li>
                    <li><a href="~/Student/SearchedGigs">Architecture Designs</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h2><b>Social Networks</b></h2>
                <img src="~/Images/f.png" width="50" height="50" class="img-circle" />&nbsp;
                <img src="~/Images/g.jpg" width="50" height="50" class="img-circle" />&nbsp;
                <img src="~/Images/i.jpg" width="50" height="50" class="img-circle" />&nbsp;
                <img src="~/Images/t.png" width="50" height="50" class="img-circle" />&nbsp;
                <img src="~/Images/l.png" width="50" height="50" class="img-circle" />&nbsp;
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h2><b>Contact Us</b></h2>
                <div class="form-group">
                    <input type="text" name="Name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" name="Email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="Message" placeholder="Message" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <a href="~/Account/Home" value="Submit" class="btn btn-success">Submit</a>
                </div>
            </div>
            <p>Copyright &copy; @DateTime.Now.Year - E-LPATR</p>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="https://code.jquery.com/jquery-3.3.1.js" rel="stylesheet" type="text/css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
</body>
</html>