@using E_LPATR.Models
@model Request
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-success">
    <div class="panel-heading text-center">
        Your Request has been send. Your Request Id is #Request @Model.Id . Please wait for your Teacher's Response.
        <span class="glyphicon glyphicon-arrow-left"></span>Go to the Request Page.
    </div>
</div>